@font-face {
  font-family: 'Roboto';
  src: url('./resources/Roboto-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

.wrapper-box {
  background: whitesmoke;
}

.Avatar {
  float: left;
  margin-right: 15px;
  width: 130px;
  height: 130px;
  border: 2px solid #fff;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}