@font-face {
  font-family: 'Roboto';
  src: url('./resources/Roboto-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

.wrapper-box {
  background: whitesmoke;
}

.Avatar {
  position: relative;
  left: 0;
  margin-right: 15px;
  width: 130px;
  height: 130px;
  border: 2px solid #fff;
  box-shadow: 0 6px 5px #ccc;
  border-radius: 190px;
}